.logo_texte{
float: left;
  font-size: 22px;
  line-height:50px;
  text-align: left;
 color:#fff;  
font-family: 'Roboto Condensed', sans-serif;
}

/*
Calendrier
*/

.cal{
color:#1E282C;

}
.calendar{
    margin-left:1px;
	font-family: 'Source Sans Pro', sans-serif;
}
.titreCal{
    font-size:12px;
    margin:8px;
	color:#FFFFFF;
}
.labelDay{
    width:14%;
    height:33px;
    padding:5px 5px 10px 5px;
    float:left;       
    font-size:15px;
    text-align:center;
    
	color:#FFFFFF;
    background-color:#3c8dbc;
    border-left:0px solid #EEEEEE;
}
.labelNum{
    width:14%;
    height:33px;
    padding:5px 5px 10px 5px;
    float:left;
    background-color:#EEEEEE;
    font-size:14px;
    text-align:center;
   /* border-left:1px  solid #FFFFFF ;*/
    border-top:0px solid #CCCCCC ;

	
}
.labelNumCurrent {
    width:14%;
    height:33px;
    padding:5px 5px 10px 5px;
    float:left;
    background-color:#A0E857;
	
    font-size:14px;
    text-align:center;
	
    /* border-left:1px  solid #FFFFFF ;*/
    border-top:0px solid #CCCCCC ;
	
}
.labelNumClose{
    width:14%;
    height:33px;
    padding:5px 5px 10px 5px;
    color:#FFFFFF;
    float:left;
    background-color:#c1c1c1;
    font-size:14px;
    text-align:center;
     /* border-left:1px  solid #FFFFFF ;*/
    border-top:0px solid #CCCCCC ;
}
.labelNumClose a{
    color:#FFFFFF;
}
.labelNumOff{
    width:14%;
    height:33px;
    padding:5px 5px 10px 5px;
    color:#FFFFFF;
    float:left;
    background-color:#FA6800;
    font-size:14px;
    text-align:center;
    /* border-left:1px  solid #FFFFFF ;*/
    border-top:0px solid #CCCCCC ;
}
.labelNumOff a{
    color:#FFFFFF;
}


/* styles pour le planning */

.planning table{
	border-collapse:collapse;
	border-spacing:0;
	margin:0px;
    padding:0px;
}

/*les heures en haut et en bas du planning*/
.labelHor {
    float:left;
    position:relative;
    font-size:10px;
    font-weight:bolder;
    height:14px;
   
}
.labelHor1 {
    float:left;
    position:relative;
    font-size:10px;
    color:#bbb;
    height:14px;
   
}
/*les noms des ordinateurs */
/* zones inactives*/
.computer{
    width:10%;
    height:20px;
    text-align:right;
    font-weight:bolder;
	font-size:1em;
    padding-right:3px;
	border-bottom: 1px dotted #ccc;
	
}
/*cliquable zones actives*/
.computer2{
	width:10%;
    height:20px;
    text-align:right;
    font-weight:bold;
    font-size:1em;
    padding-right:3px;
	border-bottom: 1px dotted #ccc;
}
/*la ligne qui correspond au temps*/
.horaire{
   height:20px;
   border-bottom: 1px dotted #ccc;
}
/*case occupée*/
.unitbusy{
	background:#09f;
	height:22px;
	padding:0px 1px ;
	display:block;
	margin-right:1px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.6);
	text-align:center;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:-webkit-gradient(linear, left top, left bottom, from(#09f), to(#077fd0)); /*sous chrome*/
	-webkit-box-shadow: 0 1px 0 #ccc;
	-moz-box-shadow: 0 1px 0 #ccc;
	box-shadow: 0 1px 0 #ccc;
	
	position:relative;    
    float:left;

}
.unitbusy a{
color:#fff;
font-size:1em;
text-align:center;
}
.unitbusy:hover{
    background-color:#FFB300;
 }

 
 /*color matching 
 blu :#0099FF
 rose :#FF0099
 jaune #FFB300
 vert #4DFF00
gris : #C4C4C4
bleu puce :A9D3EA
color matching rose :#EBAAA9 ; vert :#D4EBA9

*/
	
/* CSS pour les graphiques à barre*/
.statBar{
width:450px;
height:25px;
padding: 5px 0px 5px 5px; 
/*border: 1px solid #47196e;*/
}
.statText{
width:100px;
font-family:Helvetica Neue, Arial;font-size:1.2em; color:#666666;
text-align : right;
position:left;        
top:5px;
left:0;
float:left;
margin-right:5px;
}
.statTextPetit{
width:100px;
font-family:Helvetica Neue, Arial;font-size:1.2em; color:#666666;
text-align : left;
position:left;        
top:5px;
left:0;
float:left;
margin-right:5px;
}
.statTextVille{
width:160px;
font-family:Helvetica Neue, Arial;font-size:1em; color:#666666;
line-height: 25px;
text-align : right;
position:left;        
top:5px;
left:0;
float:left;
margin-right:5px;
}
.statBarContainPurple{
width:250px; 
float:left;
position:relative; 

background-color: #47196e;
  background: -webkit-gradient(linear, left top, left bottom, from(#a072c7), to(#47196e)); 
  background: -webkit-linear-gradient(top, #a072c7, #47196e); 
  background:    -moz-linear-gradient(top, #a072c7, #47196e); 
  background:     -ms-linear-gradient(top, #a072c7, #47196e); 
  background:      -o-linear-gradient(top, #a072c7, #47196e); 
  background:         linear-gradient(top, #a072c7, #47196e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a072c7', EndColorStr='#47196e'); 
   -moz-border-radius: 3px; /* Firefox */
	  -webkit-border-radius: 3px; /* Safari, Chrome */
	  border-radius: 3px; /* CSS3 */
}
.statBarPourcentYellow{

border-right:1px #FFF solid;
font-family:Helvetica Neue, Arial; font-size:1.5em; color:#fff; font-weight:bold; text-shadow: 1px 1px 0px rgba(27, 27, 27, 0.4);; filter: dropshadow(color=#1b1b1b, offx=1, offy=1);
 background:#ffc22e;
 -moz-border-radius: 3px; /* Firefox */
-webkit-border-radius: 3px; /* Safari, Chrome */
border-radius: 3px; /* CSS3 */

}

.statBarContainDBlue{
width:320px; 
float:left;
position:relative; 
background-color: #163247;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5d798e), to(#163247)); 
  background-image: -webkit-linear-gradient(top, #5d798e, #163247); 
  background-image:    -moz-linear-gradient(top, #5d798e, #163247); 
  background-image:     -ms-linear-gradient(top, #5d798e, #163247); 
  background-image:      -o-linear-gradient(top, #5d798e, #163247); 
  background-image:         linear-gradient(top, #5d798e, #163247);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5d798e', EndColorStr='#163247'); 
  -moz-border-radius: 5px; /* Firefox */
	  -webkit-border-radius: 5px; /* Safari, Chrome */
	  border-radius: 5px; /* CSS3 */
}
.statBarPourcentGreen{

border-right:1px #FFF solid;
font-family:Helvetica Neue, Arial; font-size:1.5em; color:#fff; font-weight:bold; text-shadow: 1px 1px 0px rgba(27, 27, 27, 0.4);; filter: dropshadow(color=#1b1b1b, offx=1, offy=1);
 background:#a3c747;
 -moz-border-radius: 3px; /* Firefox */
-webkit-border-radius: 3px; /* Safari, Chrome */
border-radius: 3px; /* CSS3 */

}

.statBarContainBlue{
width:250px; 

float:left;
position:relative; 
background-color: #074676;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d8cbc), to(#074676)); 
  background-image: -webkit-linear-gradient(top, #4d8cbc, #074676); 
  background-image:    -moz-linear-gradient(top, #4d8cbc, #074676); 
  background-image:     -ms-linear-gradient(top, #4d8cbc, #074676); 
  background-image:      -o-linear-gradient(top, #4d8cbc, #074676); 
  background-image:         linear-gradient(top, #4d8cbc, #074676);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d8cbc', EndColorStr='#074676'); 
  -moz-border-radius: 3px; /* Firefox */
	  -webkit-border-radius: 3px; /* Safari, Chrome */
	  border-radius: 3px; /* CSS3 */
}
.statBarPourcentRed{

border-right:1px #FFF solid;
font-family:Helvetica Neue, Arial; font-size:1.5em; color:#fff; font-weight:bold; text-shadow: 1px 1px 0px rgba(27, 27, 27, 0.4); filter: dropshadow(color=#1b1b1b, offx=1, offy=1);
 background:#ea4958;
 -moz-border-radius: 3px; /* Firefox */
-webkit-border-radius:3px; /* Safari, Chrome */
border-radius: 3px; /* CSS3 */

}




/* CSS pour les stats verticales colonnes */
.stat-col{float:left; margin:0px; margin-right:30px;}
.stat-col span{font-weight:bold; font-size:1.1em; font-family:Helvetica Neue, Arial;}
.stat-col p{font-family:Helvetica Neue, Arial; font-size:3em; color:#fff; font-weight:bold; text-shadow: 1px 1px 0px rgba(27, 27, 27, 0.4);; filter: dropshadow(color=#1b1b1b, offx=1, offy=1) /* IE */
	  -moz-border-radius: 4px; /* Firefox */
	  -webkit-border-radius: 4px; /* Safari, Chrome */
	  border-radius: 4px; /* CSS3 */
	  line-height:1.1em;
	  padding:4px 12px; 
	  margin-bottom:10px;
	  margin-top:4px;
	  }


.stat-col p.purple{
	
	
  background-color: #47196e;
  background: -webkit-gradient(linear, left top, left bottom, from(#a072c7), to(#47196e)); 
  background: -webkit-linear-gradient(top, #a072c7, #47196e); 
  background:    -moz-linear-gradient(top, #a072c7, #47196e); 
  background:     -ms-linear-gradient(top, #a072c7, #47196e); 
  background:      -o-linear-gradient(top, #a072c7, #47196e); 
  background:         linear-gradient(top, #a072c7, #47196e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a072c7', EndColorStr='#47196e'); 


}

.stat-col p.yellow{
	background-color:#ffb400;
	
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc22e), to(#d19400)); 
  background-image: -webkit-linear-gradient(top, #ffc22e, #d19400); 
  background-image:    -moz-linear-gradient(top, #ffc22e, #d19400); 
  background-image:     -ms-linear-gradient(top, #ffc22e, #d19400); 
  background-image:      -o-linear-gradient(top, #ffc22e, #d19400); 
  background-image:         linear-gradient(top, #ffc22e, #d19400);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffc22e', EndColorStr='#d19400'); 

}
.stat-col p.darkblue{

	background-color: #163247;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5d798e), to(#163247)); 
  background-image: -webkit-linear-gradient(top, #5d798e, #163247); 
  background-image:    -moz-linear-gradient(top, #5d798e, #163247); 
  background-image:     -ms-linear-gradient(top, #5d798e, #163247); 
  background-image:      -o-linear-gradient(top, #5d798e, #163247); 
  background-image:         linear-gradient(top, #5d798e, #163247);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5d798e', EndColorStr='#163247'); 

} 

.stat-col p.green{

  background-color: #5c8000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3c747), to(#5c8000)); 
  background-image: -webkit-linear-gradient(top, #a3c747, #5c8000); 
  background-image:    -moz-linear-gradient(top, #a3c747, #5c8000); 
  background-image:     -ms-linear-gradient(top, #a3c747, #5c8000); 
  background-image:      -o-linear-gradient(top, #a3c747, #5c8000); 
  background-image:         linear-gradient(top, #a3c747, #5c8000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a3c747', EndColorStr='#5c8000'); 

}
.stat-col p.blue{

  background-color: #074676;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d8cbc), to(#074676)); 
  background-image: -webkit-linear-gradient(top, #4d8cbc, #074676); 
  background-image:    -moz-linear-gradient(top, #4d8cbc, #074676); 
  background-image:     -ms-linear-gradient(top, #4d8cbc, #074676); 
  background-image:      -o-linear-gradient(top, #4d8cbc, #074676); 
  background-image:         linear-gradient(top, #4d8cbc, #074676);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d8cbc', EndColorStr='#074676'); 

}
.stat-col p.red{

 background-color: #a40312;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ea4958), to(#a40312)); 
  background-image: -webkit-linear-gradient(top, #ea4958, #a40312); 
  background-image:    -moz-linear-gradient(top, #ea4958, #a40312); 
  background-image:     -ms-linear-gradient(top, #ea4958, #a40312); 
  background-image:      -o-linear-gradient(top, #ea4958, #a40312); 
  background-image:         linear-gradient(top, #ea4958, #a40312);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ea4958', EndColorStr='#a40312'); 

}

.stat-col.last{margin-right:0px;}

.clear {
clear: both;
}

.spacer {
height: 20px;
}